#header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-main-bg {
  background-image: url(../imgs/academia-duelo.jpg);
  background-repeat: no-repeat;
  background-color: #121519;
  background-blend-mode: overlay;
  background-size: cover;
}

#menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#menu-nav a {
  padding: 0.5rem;
  display: block;
  box-sizing: border-box;
}

#menu-nav a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.svg-navegacao {
  color: #fff;
}

.svg-navegacao:hover {
  color: #ee1133;
}

.js #btn-mobile {
  display: none;
}

@media (max-width: 800px) {
  .js #btn-mobile {
    display: flex;
    cursor: pointer;
    gap: 1rem;
    background-color: rgba(0, 0, 0, .5);
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    font-family: 'Outfit';
    font-weight: bold;
  }

  .js #menu.ativado {
    height: calc(100vh - 102px);
    visibility: visible;
  }
  .js #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 102px;
    right: 0px;
    transition: 0.6s;
    background: linear-gradient(180deg, #ee1133 0%, #cc0e2b 100%);
    z-index: 999;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  .js #menu a {
    padding: 1rem 0;
    margin: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}
