.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  margin-top: 2rem;
}

.introducao-p1 {
  align-self: end;
}

.introducao-p1 h1 {
  margin-bottom: 2rem;
}

.introducao-p1 p {
  margin-bottom: 2rem;
}

.botoes-div {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.introducao-p1 .btn {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .introducao > div img {
    display: none;
  }
  .botoes-div {
    align-self: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .botoes-div {
    gap: 1rem;
  }
}