.personagens-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: linear-gradient(to right, #1b1d20 15%, #fef8d2 0);
  border-radius: 10px;
  padding: 2rem;
  gap: 40px;
}
.personagens-icon {
  display: flex;
  justify-content: center;
}

.personagens-icon img {
  border: 8px solid transparent;
  box-sizing: border-box;
  background-color: #1e1e1e;
  margin-bottom: 3.75rem;
}

.personagens-icon img:hover {
  border: 8px solid;
  border-image: url(../imgs/trem.png) 10 10 round;
  cursor: pointer;
}

.personagens-icon .ativo {
  border-image: url(../imgs/trem.png) 10 10 round;
}

.personagens-perfil {
  background-color: #1b1d20;
  border: 2px solid #d9bb7e;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
  border-radius: 10px 10px 0px 0px;
  grid-column: 1/2;
}

.personagens-folha {
  grid-column: 2/-1;
}

.personagens-folha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.deck {
  display: flex;
  align-items: center;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.2));
  margin-bottom: 1rem;
}

.deck p {
  background: #b67a45;
  border-radius: 0px 10px 10px 0px;
  padding: 4px;
}

.alinhado {
  margin-top: 60px;
}
